$primary-color: #FB56BF;
$secondary-color : #4A4A4A;
$third-color : #1736DC;
$font-size-sm : 10px ;
$font-size-base: 12px;
$font-size-big: 24px;
$line-height-base:18px;
$font-weight:600;
$font-family-base:MicrosoftJhengHeiRegular;
$font-family-bold:Microsoft JhengHei;