/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.warp {
  width: 1025px;
  margin: 0 auto;
  font-family: Microsoft JhengHei;
}

.banner {
  position: relative;
  height: 400px;
  font-family: MicrosoftJhengHeiRegular;
  background-image: url(../img/img-headerShape.png);
  background-repeat: no-repeat;
}
.banner .name {
  position: absolute;
  width: 151px;
  text-align: center;
  left: 135px;
  top: 124px;
}
.banner .name h1 {
  font-size: 42px;
  padding: 10px 0px;
}
.banner .name p {
  font-size: 14px;
  color: #4A4A4A;
  padding-bottom: 10px;
}
.banner .info {
  position: absolute;
  left: 430px;
  top: 124px;
}
.banner .info li {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.banner .info li svg {
  width: 42px;
  height: 42px;
  padding-right: 15px;
  fill: white;
}
.banner .info li a {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 18px;
  padding-bottom: 5px;
}
.banner .info li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3px;
  width: 0;
  background-color: #FB56BF;
  transition: 0.3s;
}
.banner .info li a:hover::before {
  width: 100%;
  left: 0;
}

.skills h2 {
  font-size: 24px;
  color: #1736DC;
  font-weight: 600;
  font-family: Microsoft JhengHei;
  text-align: center;
  padding: 50px 0 30px 0;
}
.skills .content {
  display: flex;
  justify-content: space-around;
  color: #4A4A4A;
}
.skills .content .list {
  width: 284px;
  padding: 20px 30px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.07);
}
.skills .content .list:hover {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.158);
}
.skills .content .list h3 {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 600;
}
.skills .content .list ul li {
  font-size: 10px;
  text-align: left;
  line-height: 18px;
  list-style: disc;
}
.skills .content .one {
  border-bottom: 6px solid #F58D23;
}
.skills .content .two {
  border-bottom: 6px solid #539E43;
}
.skills .content .three {
  border-bottom: 6px solid #6762A6;
}

.experince h2 {
  font-size: 24px;
  color: #1736DC;
  font-weight: 600;
  font-family: Microsoft JhengHei;
  text-align: center;
  padding: 50px 0 30px 0;
}
.experince .dot {
  text-align: center;
}
.experince .dot::before {
  content: url(../img/dot-start.png);
  position: relative;
  margin: 0 auto;
  display: block;
  top: 3px;
}
.experince .dot::after {
  content: "";
  width: 46px;
  height: 4px;
  background-color: #e3e3e3;
  display: block;
  margin: 0 auto;
}
.experince .dot ul {
  position: relative;
  padding: 10px 0;
}
.experince .dot ul::before {
  content: "";
  background-color: #e3e3e3;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 2px;
}
.experince .dot li::after {
  content: "";
  display: table;
  clear: both;
}
.experince .dot li section {
  width: 50%;
  padding: 10px 25px;
  box-sizing: border-box;
  position: relative;
}
.experince .dot li section::before {
  content: url(../img/dot-timeItem.png);
  top: 0;
  position: absolute;
}
.experince .dot li:nth-child(even) section::before {
  right: 0;
  transform: translatex(50%);
}
.experince .dot li:nth-child(odd) section::before {
  left: 0;
  transform: translatex(-50%);
}
.experince .dot li article {
  width: 260px;
  padding: 10px 15px 15px 10px;
  border: 1px solid #FB56BF;
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: left;
}
.experince .dot li article span {
  font-size: 12px;
  color: #4A4A4A;
  font-weight: 600;
  padding-bottom: 10px;
  display: block;
}
.experince .dot li article h3 {
  font-size: 12px;
  color: #8A1737;
  font-weight: 700;
  padding-bottom: 10px;
}
.experince .dot li article h4 {
  font-size: 12px;
  color: #4A4A4A;
  font-weight: 600;
  padding-bottom: 10px;
}
.experince .dot li article p {
  font-size: 10px;
  color: #9B9B9B;
}
.experince .dot li:nth-child(even) section {
  float: left;
}
.experince .dot li:nth-child(odd) section {
  float: right;
}
.experince .dot li:nth-child(even) article {
  float: right;
}
.experince .dot li:nth-child(odd) article {
  float: left;
}

.works h2 {
  font-size: 24px;
  color: #FB56BF;
  font-weight: 600;
  text-align: center;
  padding: 56px 0 46px 0;
}
.works ul {
  display: flex;
  justify-content: space-around;
}
.works ul li {
  width: 284px;
  border-radius: 4px;
}
.works ul li a {
  text-decoration: none;
}
.works ul li a h3 {
  font-size: 14px;
  font-weight: 600;
  padding: 7px 0;
  color: black;
}
.works ul li a p {
  font-size: 14px;
  color: #4A4A4A;
  padding-bottom: 9px;
}
.works ul li a .background {
  height: 150px;
  position: relative;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works ul li a .pink {
  background-color: rgb(255, 164, 194);
}
.works ul li a .pink img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.works ul li a .black {
  background-color: #4A4A4A;
}
.works ul li a .blue {
  background-color: #8AD7FA;
}
.works ul li:hover {
  box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
}

.about {
  margin-bottom: 74px;
}
.about h2 {
  font-size: 24px;
  color: #FB56BF;
  font-weight: 600;
  text-align: center;
  padding: 98px 0 48px 0;
}
.about .introduction {
  display: flex;
  justify-content: space-evenly;
}
.about .introduction img {
  width: 260px;
  height: 335px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .introduction .article p {
  width: 442px;
  color: #4A4A4A;
  font-size: 14px;
  line-height: 26px;
  margin: 20px 20px;
  text-align: justify;
  margin-bottom: 20px;
}

.footer {
  background-image: url(../img/img-Looper-bg.png);
}
.footer h2 {
  font-size: 18px;
  padding: 34px 0;
  text-align: center;
  font-weight: 600;
}/*# sourceMappingURL=all.css.map */