@import '_variable';
@import '_reset';


* {
    box-sizing: border-box;
}

.warp {
    width: 1025px;
    margin: 0 auto;
    font-family: $font-family-bold;
}

header {
    position: relative;
    height: 400px;
    font-family: $font-family-base;
    background-image: url(../img/img-headerShape.png);
    background-repeat: no-repeat;

    .name {
        position: absolute;
        width: 151px;
        text-align: center;
        left: 135px;
        top: 124px;

        h1 {
            font-size: 42px;
            padding: 10px 0px;
        }

        p {
            font-size: 14px;
            color: $secondary-color;
            padding-bottom: 10px;
        }
    }

    .info {
        position: absolute;
        left: 430px;
        top: 124px;

        li {
            display: flex;
            align-items: center;
            padding-bottom: 20px;

            svg {
                width: 42px;
                height: 42px;
                padding-right: 15px;
                fill: white;
            }

            a {
                text-decoration: none;
                color: white;
                position: relative;
                font-size: 18px;
                padding-bottom: 5px;
            }

            // 底線動畫
            a::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                height: 3px;
                width: 0;
                background-color: $primary-color;
                transition: .3s;
            }

            a:hover::before {
                width: 100%;
                left: 0;
            }

        }
    }
}

.skills {
    h2 {
        font-size: $font-size-big;
        color: $third-color;
        font-weight: $font-weight;
        font-family: $font-family-bold;
        text-align: center;
        padding: 50px 0 30px 0;
    }

    .content {
        display: flex;
        justify-content: space-around;
        color: $secondary-color;

        .list {
            width: 284px;
            padding: 20px 30px;
            text-align: center;
            border-radius: 6px;
            box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 7%);

            &:hover {
                box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.158);
            }

            & h3 {
                padding: 20px 0;
                font-size: 18px;
                font-weight: $font-weight;
            }

            & li {
                font-size: $font-size-sm;
                text-align: left;
                line-height: $line-height-base;
                list-style: disc;
            }
        }

        .one {
            border-bottom: 6px solid #F58D23;
        }

        .two {
            border-bottom: 6px solid #539E43;
        }

        .three {
            border-bottom: 6px solid #6762A6;
        }

    }
}

.experince {
    h2 {
        font-size: $font-size-big;
        color: $third-color;
        font-weight: $font-weight;
        font-family: $font-family-bold;
        text-align: center;
        padding: 50px 0 30px 0;
    }

    .dot {
        text-align: center;

        // 起點
        &::before {
            content: url(../img/dot-start.png);
            position: relative;
            margin: 0 auto;
            display: block;
            top: 3px;
        }

        // 底線
        &::after {
            content: '';
            width: 46px;
            height: 4px;
            background-color: #e3e3e3;
            display: block;
            margin: 0 auto;
        }

        ul {
            position: relative;
            padding: 10px 0;

            // 中間線
            &::before {
                content: '';
                background-color: #e3e3e3;
                position: absolute;
                top: 0px;
                height: 100%;
                width: 2px;
            }
        }

        li {
            &::after {
                content: '';
                display: table;
                clear: both;
            }

            section {
                width: 50%;
                padding: 10px 25px;
                box-sizing: border-box;
                position: relative;
            }

            // 紅色icon
            section::before {
                content: url(../img/dot-timeItem.png);
                top: 0;
                position: absolute;
            }

            &:nth-child(even) section::before {
                right: 0;
                transform: translatex(50%);
            }

            &:nth-child(odd) section::before {
                left: 0;
                transform: translatex(-50%);
            }

            article {
                width: 260px;
                padding: 10px 15px 15px 10px;
                border: 1px solid $primary-color;
                border-radius: 10px;
                margin-bottom: 50px;
                text-align: left;

                span {
                    font-size: $font-size-base;
                    color: $secondary-color;
                    font-weight: $font-weight;
                    padding-bottom: 10px;
                    display: block;
                }

                h3 {
                    font-size: $font-size-base;
                    color: #8A1737;
                    font-weight: 700;
                    padding-bottom: 10px;
                }

                h4 {
                    font-size: $font-size-base;
                    color: $secondary-color;
                    font-weight: $font-weight;
                    padding-bottom: 10px;
                }

                p {
                    font-size: $font-size-sm;
                    color: #9B9B9B;
                }
            }

            &:nth-child(even) section {
                float: left;
            }

            &:nth-child(odd) section {
                float: right;
            }

            &:nth-child(even) article {
                float: right;
            }

            &:nth-child(odd) article {
                float: left;
            }
        }
    }
}

.works {
    h2 {
        font-size: $font-size-big;
        color: $primary-color;
        font-weight: $font-weight;
        text-align: center;
        padding: 56px 0 46px 0;
    }

    ul {
        display: flex;
        justify-content: space-around;

        li {
            width: 284px;
            border-radius: 4px;

            a {
                text-decoration: none;

                & h3 {
                    font-size: 14px;
                    font-weight: $font-weight;
                    padding: 7px 0;
                    color: black;
                }

                & p {
                    font-size: 14px;
                    color: $secondary-color;
                    padding-bottom: 9px;
                }

                & .background {
                    height: 150px;
                    position: relative;
                    border-radius: 4px 4px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                & .pink {
                    background-color: rgb(255, 164, 194);

                    img {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }

                & .black {
                    background-color: $secondary-color;
                }

                & .blue {
                    background-color: #8AD7FA;
                }
            }

            &:hover {
                box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
            }

        }
    }

}

.about {
    margin-bottom: 74px;

    h2 {
        font-size: $font-size-big;
        color: $primary-color;
        font-weight: $font-weight;
        text-align: center;
        padding: 98px 0 48px 0;
    }

    .introduction {
        display: flex;
        justify-content: space-evenly;

        img {
            width: 260px;
            height: 335px;
            object-fit: cover;
            margin-left: 150px;
        }

        article {
            width: 442px;
            color: $secondary-color;
            font-size: 14px;
            line-height: 26px;
            text-align: justify;
            margin: 20px 20px;

            p {
                margin-bottom: 20px;
            }

        }
    }

}

footer {
    background-image: url(../img/img-Looper-bg.png);

    h2 {
        font-size: 18px;
        padding: 34px 0;
        text-align: center;
        font-weight: $font-weight;
    }
}